h1{
  text-align: center;   
  font-size: 25px; 
  color: rgb(23, 41, 46);

}
body{
  background-color: rgb(187, 100, 50);
}
.personagem{
  width: 20%;
  height: 50%;
}
.ini {
  background-image: url("personagem.jpeg");
}
.button{
display: inline-block;
padding: 10px 20px;
}